/7za/**/
/7za/*.7z
/7za/7zaVersion.txt
/Aria2/**/
/Aria2/Aria2MaxConnection.txt
/Aria2/Aria2UseCurl.txt
/Aria2/Aria2Version.txt
/Ffmpeg/**/
/Ffmpeg/*.7z
/Ffmpeg/ffmpegVersion.txt
/Git/**/
/Git/*.exe
/Git/GitVersion.txt
/Llamacpp/**/
/Llamacpp/*.zip
/Llamacpp/LlamacppVersion.txt
/tmp/
/Uv/**/
/Uv/*.zip
/Uv/UvVersion.txt
/VcRedist/*.exe

